.circle-green {
	height: 80px;
	width: 80px;
	background-color: #ff4e37;
	border-radius: 40px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

i {
	margin-top: 14px;
}

.circle-green:hover {
	color: #ff4e37;
	background-color: white;
}
.changedec {
	text-decoration: none;
	color: white;
}
#givemeflexrow {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.addamargin {
	margin-right: 100px;
}
@media only screen and (max-width: 769px) {
	#givemeflexrow {
		flex-direction: column;
	}
}
@media only screen and (max-width: 400px) {
	.addamargin {
		margin-right: 10px;
	}
}
